.logo{
    background-color: #208DCC;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor2{
    position: absolute;
    top: 80%;
    left: 4%;
}

.floor1{
    position: absolute;
    top: 90%;
    left: 4%;
}

.selectedfloor{
    position: absolute;
    top: 32%;
    left: 4%;
}

#backbtn {
    top: 15%;
    position: absolute;
    background-color: transparent;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3b3b3b;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    text-align: center;
    width: 10%;
    margin: 3%;
  }