.logo{
    background-color: #208DCC;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 3% 5% 0% 5%;
}